<h1>
  <%= @mode == "create" ? "グループを作成する" : "グループに参加する" %>
</h1>

<%= form_with url: selectcreateorjoin_save_form_path, method: :post do %>

  <h2>ユーザー情報</h2>

  <div>
    <label>ニックネーム</label>
    <%= text_field_tag :name %>
  </div>

  <div>
    <label>アイコン</label>
    <%= select_tag :icon,
      options_for_select([["🐶", "dog"], ["🐱", "cat"], ["🐼", "panda"]]) %>
  </div><br><br>

  <h2>グループ情報</h2>

  <div>
    <label>グループ名</label>
    <%= text_field_tag :group_name %>
  </div>

  <div>
    <label>合言葉</label>
    <%= password_field_tag :passcode %>
  </div>

  <%= submit_tag "次へ（ユーザー登録）" %>

<% end %>
