<% content_for :header_title do %>
  家事登録
<% end %>

<h1>家事登録</h1>

<%= form_with model: @chore, local: true do |f| %>

  <div>
    <%= f.label :title, "家事名" %><br>
    <%= f.text_field :title %>
  </div><br>

  <div>
    <%= f.label :cake_reward, "ショートケーキ獲得数" %><br>
    <%= f.number_field :cake_reward, min: 1 %>
  </div><br>

  <div>
    <label>実行日（複数選択）</label><br>
  <%= f.text_field :execute_dates, id: "execute_dates" %>
  </div><br>

  <div>
    <label>実行時間</label><br>
    <input type="time"
           name="chore[execute_time]">
  </div><br>

  <div>
    <%= f.label :detail, "家事の詳細" %><br>
    <%= f.text_area :detail, rows: 4 %>
  </div><br>

  <%= f.submit "登録" %>

<% end %>


